:root {
    --navy-blue: #212e6e;
    --white: #ffffff;
    --accent: #edf5fa;
    --purple: rgb(158, 158, 196);
    --green: #00c853;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--navy-blue);
    color: var(--navy-blue);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    border: 3px solid rgb(205, 212, 244);
    border-radius: 30px;
    width: 400px;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.currency-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.currency-input:hover{
    cursor: pointer;
}

.from-currency, .to-currency{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--purple);
    gap: 10px;
    border-radius: 10px;
    flex-grow: 2;
    position: relative;
    background-color: var(--white);
    transition: all 0.3s ease;
}

.from-currency select, .to-currency select {
    border-left: 1px solid black;
    padding-left: 10px;
    background-color: transparent;
}

img{
    width: 50px;
}

select{
    height:40px;
    border: none;
}

input{
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--accent);
    border: 1px solid var(--purple);
}

button{
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover, .to-currency:hover, .from-currency:hover{
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #5ce396;
    
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #29dc76;
}

select:hover{
    cursor: pointer;
    background-color: transparent;
}

#exchange-rate {
    font-size: larger;
    border: 1px solid var(--purple);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--navy-blue);
    font-weight: bold;
    transform: scale(1);
    transition: all 0.1s ease;
    opacity: 1;
}

.date{
    font-size: small;
    color: gray;
}

label#exchange-rate:empty {
    transform: scale(0.95);
    opacity: 0;
}

button:active + label {
    transform: scale(1.05);
    background-color: var(--green);
    color: var(--white);
}

svg{
    transition: all 0.3s ease;
}

svg:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
